page-voice-enable {

.scroll-content{
        overflow-y: auto;
   }

.greet-msg {
    font-size:20px; 
    color: rgb(255, 255, 255); 
    margin-top:20%;
  }

  .greet-msg1 {
    font-size:25px; 
    color: rgba(233, 233, 233, 0.952); 
    margin-top:10%;
    margin-left: -10%;
  }

.item-content {
    background-color:#ffffff60;
  }

.ionnavbar.toolbar
{
    text-align: center;
    font-size: 40px;
    min-height:500px;
}

.center
{
    text-align:center;
    font-size: 30px;
}
.Welcomehdr {
    background-color: rgba(22, 135, 228, 0.938);
    width: 110%; 
    height: 35%; 
    margin-left: -10%; 
    margin-right: 0%;
    margin-top:-10%;
}

 }
