page-new-home {

    .new-home-card {
        display: flex;
        flex-direction: row;
    }

    .card-avatar-section {
        flex: 1;
        flex-grow: 1;
        display: flex;
        align-items: center; 
        justify-content: center; 
        text-align: center; 
        flex-direction: column;
        margin-top:10%; 
        width: 5% !important;
    }

    .card-avatar {
        width: 30px !important;
        margin-left:-5%;
    }

    .card-avatar-txt {
        font-size:10px !important;
        color: rgb(33, 33, 33);
    }

    .card-avatar-sub-txt {
        font-size:10px !important;
        color: rgb(26, 117, 207);
    }

    .card-main {
        flex: 1;
        flex-grow: 1;
        display: flex;
        align-items: left; 
        justify-content: left; 
        text-align: left; 
        flex-direction: column;
    }

    .card-avatar-big-txt {
        font-size:26px !important;
        color: rgb(26, 117, 207);
        margin-top: -10%;
        overflow:visible;
    }

    .card-avatar-big-txt-red {
        font-size:26px !important;
        color: rgb(213, 32, 47);
        margin-top: -10%;
        overflow:visible;
    }

    .card-avatar-sm-txt {
        font-size:10px !important;
        color: rgb(26, 117, 207);
        margin-top: -10%;
        overflow:visible;
    }

    ion-card {
        border-bottom: 3px solid rgb(253, 186, 45);
     }

}
