<!--
  Generated template for the PersonalDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="pure">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title style="margin-top:2%; margin-left:0%">
        <img src="./assets/imgs/Walmart-Logo.png" width="40%" height="15%" />
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-row style="margin-top:-5%">
    <ion-col>
      <ion-label text-left style="font-size: 14px; color:rgb(33, 33, 33)">PERSONAL DATA</ion-label>
    </ion-col>
    <ion-col text-right style="margin-top:5%">
      <!-- <button ion-button round>EDIT</button> -->
      <ion-icon name="create" color="blue" (click) = "toggleButton('Edit')" *ngIf= "!editMode"></ion-icon>
    </ion-col>
  </ion-row>
  <hr/>
  <form [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm.value)">
  <ion-card style="width: 106%; margin-left:-3%; margin-top:-5%">
    <ion-card-header style="font-size: 14px; color:rgb(33, 33, 33)">
      General Information
    </ion-card-header>
    <ion-card-content *ngIf= "editMode">
        <ion-label stacked class="input-label">First Name</ion-label>
        <ion-input type="text" class="input-style" formControlName="fName"></ion-input>
        <ion-label stacked class="input-label">Last Name</ion-label>
        <ion-input type="text" formControlName="lName" class="input-style"></ion-input>
      <ion-row style="margin-left:-2%">
        <ion-col>
          <ion-label stacked class="input-label">Date of Birth</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" class="input-style" formControlName="dob"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-label stacked class="input-label">Marital Status</ion-label>
          <ion-select formControlName="maritalStatus" class="input-select">
              <ion-option value="0">Select</ion-option>
              <ion-option value="Single">Single</ion-option>
              <ion-option value="Married">Married</ion-option>
            </ion-select>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content *ngIf= "!editMode">
        <ion-label stacked class="input-label">First Name</ion-label>
        <ion-label class="view-style">{{associate.fName}}</ion-label>
        <ion-label stacked class="input-label">Last Name</ion-label>
        <ion-label class="view-style">{{associate.lName}}</ion-label>
      <ion-row style="margin-left:-2%">
        <ion-col>
          <ion-label stacked class="input-label">Date of Birth</ion-label>
          <ion-label class="view-style">{{associate.dob}}</ion-label>
        </ion-col>
        <ion-col>
          <ion-label stacked class="input-label">Marital Status</ion-label>
            <ion-label class="view-style">{{associate.maritalStatus}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card style="width: 106%; margin-left:-3%">
    <ion-card-header style="font-size: 14px; color:rgb(33, 33, 33)">
      Contact Information
    </ion-card-header>
    <ion-card-content *ngIf= "editMode">
        <ion-label stacked class="input-label">Address Line 1</ion-label>
        <ion-input type="text" formControlName="addr1" class="input-style"></ion-input>
        <ion-label stacked class="input-label">Address Line 2</ion-label>
        <ion-input type="text" formControlName="addr2" class="input-style"></ion-input>
        <ion-label stacked class="input-label">City</ion-label>
        <ion-input type="text" formControlName="city" class="input-style"></ion-input>
        <ion-label stacked class="input-label">State</ion-label>
        <ion-input type="text" formControlName="state" class="input-style"></ion-input>
        <ion-label stacked class="input-label">Country</ion-label>
        <ion-input type="text" formControlName="country" class="input-style"></ion-input>
        <ion-label stacked class="input-label">Contact Number</ion-label>
        <ion-input type="text" formControlName="phone" class="input-style"></ion-input>
        <ion-label stacked class="input-label">Email</ion-label>
        <ion-input type="text" formControlName="email" class="input-style"></ion-input>
    </ion-card-content>
    <ion-card-content *ngIf= "!editMode">
        <ion-label stacked class="input-label">Address Line 1</ion-label>
        <ion-label class="view-style">{{associate.addr1}}</ion-label>
        <ion-label stacked class="input-label">Address Line 2</ion-label>
        <ion-label class="view-style">{{associate.addr2}}</ion-label>
        <ion-label stacked class="input-label">City</ion-label>
        <ion-label class="view-style">{{associate.city}}</ion-label>
        <ion-label stacked class="input-label">State</ion-label>
        <ion-label class="view-style">{{associate.state}}</ion-label>
        <ion-label stacked class="input-label">Country</ion-label>
        <ion-label class="view-style">{{associate.country}}</ion-label>
        <ion-label stacked class="input-label">Contact Number</ion-label>
        <ion-label class="view-style">{{associate.phone}}</ion-label>
        <ion-label stacked class="input-label">Email</ion-label>
        <ion-label class="view-style">{{associate.email}}</ion-label>
    </ion-card-content>
    
  </ion-card>
  <ion-label style="font-size: 10px; color:red;" text-center>{{errorMsg}}</ion-label>
  <ion-row text-center *ngIf="editMode">
    <ion-col>
      <button round ion-button (click)= "toggleButton('Cancel')" >CANCEL</button>
      <button round ion-button type="submit">SAVE</button>
    </ion-col>
  </ion-row>
</form>
  <br/>
</ion-content>