page-welcome-login {
    .greet-msg {
        font-size:59px; 
        color: rgb(26, 117, 207); 
        margin-top:36%
    }

    .greet-msg2 {
        font-size:39px; 
        color: rgb(0, 56, 150);
    }
}
