page-weekly-schedule {

    .header-txt {
        font-size: 12px;
        font-weight: bold;
        color: rgb(33,33,33);
    }
    
    .schedule-card {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    // .card-avatar-section {
    //     flex: 1;
    //     flex-grow: 1;
    //     display: flex;
    //     align-items: center; 
    //     justify-content: center; 
    //     text-align: center; 
    //     flex-direction: column;
    //     margin-top:10%; 
    //     width: 5% !important;
    // }

    // .card-avatar {
    //     width: 30px;
    //     margin-left:-5%;
    // }

    .card-wkday-txt {
        font-size:10px !important;
        color: rgb(33,33,33);
        text-align: left;
        flex-direction: column;
        //align-items: center;
        margin-top: 10%;
        margin-left: 5%;
    }

    .card-daytime-txt {
        font-size:12px !important;
        color: rgb(24,117,208);
        text-align: left;
        flex-direction: column;
        //align-items: center;
        margin-left: 5%;
    }

    // .card-avatar-sub-txt {
    //     font-size:10px !important;
    //     color: rgb(26, 117, 207);
    // }

    .card-schedChg-btn-txt {
        font-size:10px !important;
        color: rgb(26, 117, 207);
        padding-right: 30px;
        margin-top: 20%;
        align-items: center
    }
    .card-calIcon {
        //font-size:14px;
        height: 52px;
        width:  52px;
        border: solid;
        border-color: rgb(85,85,85);
        border-radius: 4px;
        border-width: 1px;
        text-align: center;
        flex-direction: column;
        margin-left: -5%;
    }

    .cal-month-text {
        font-size:10px;
        color: rgb(33,33,33);
        font-weight: 500;
        margin-top: 10% !important;
        padding-left: 2%
    }

    .cal-day-text {
        font-size:24px;
        color: rgb(33,33,33);
        font-weight: bold;
        margin-top: 8%;
        padding-left: 2%
    }

    .card-daySched-text {
        text-align: center;
        flex-direction: column;
    }

    .card-calIcon-content {
        //font-size:14px;
        color: rgb(33,33,33);
        text-align: center;
        align-items: center; 
        justify-content: center; 
        flex-direction: column;
        margin-top: 20%;
    }

    .card-main {
        flex: 1;
        flex-grow: 1;
        display: flex;
        align-items: left; 
        justify-content: left; 
        //text-align: left; 
        //flex-direction: column;
    }

    // .card-avatar-big-txt {
    //     font-size:26px !important;
    //     color: rgb(26, 117, 207);
    //     margin-top: -10%;
    //     overflow:visible;
    // }

    // .card-avatar-big-txt-red {
    //     font-size:26px !important;
    //     color: rgb(213, 32, 47);
    //     margin-top: -10%;
    //     overflow:visible;
    // }

    // .card-avatar-sm-txt {
    //     font-size:10px !important;
    //     color: rgb(26, 117, 207);
    //     margin-top: -10%;
    //     overflow:visible;
    // }

    ion-card {
       // border-bottom: 3px solid rgb(253, 186, 45);
       width: 106%;
       margin-right: -3%
     }
    ion-item {
        height: 80px;
    }
    
    // ion-thumbnail {
    //     //height: 4px;
    //     //width:  4px;
    //     //font-size: 14px;
    //     //color: rgb(33,33,33);
    // }

    .in-out-img {
        margin-top:30%; 
        width:80%; 
        height:80%; 
        background-color: white; 
        margin-right:-13%
    }
}
