page-shift-day {

    .shift-txt {
        font-size:10px;
        font-weight:bold;
        color:#212121;
    }

    .shift-time {
        color:rgb(26, 117, 207);
    }

    .league-msg {
        color:#404040;
    }

    .meal-brk {
        background-color:rgb(234, 183, 54);
        color:black;
    }

}
